<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css?family=Press+Start+2P"
      rel="stylesheet"
    />
    <link href="https://unpkg.com/nes.css/css/nes.css" rel="stylesheet" />
    <link rel="stylesheet" href="/assets/css/styles.css" />
    <script src="https://unpkg.com/vue@next"></script>
    <script src="/assets/js/calc.js" defer></script>
    <title>Calculadora</title>
  </head>
  <body>
    <section id="app">
      <div>
        <h2>Nes Calculator <i class="nes-jp-logo"></i></h2>

        <div class="nes-container with-title is-centered" id="calculator">
          <div class="nes-container is-rounded" id="screen" :value="showScreen">
            {{showScreen}}
          </div>

          <div class="nes-container is-rounded" id="operation" :value="result">
            {{result}}
          </div>

          <div class="nes-container is-rounded" id="teclado">
            <button
              type="button"
              class="nes-btn is-warning"
              @click="calculate"
              :value="op"
              v-for="op in operators"
            >
              {{op}}
            </button>

            <button
              type="button"
              class="nes-btn"
              @click="calculate"
              :value="n"
              v-for="n in keys"
            >
              {{n}}
            </button>

            <button type="button" class="nes-btn" value="." @click="calculate">
              .
            </button>

            <button
              type="button"
              class="nes-btn is-success"
              value="ac"
              @click="clear"
            >
              AC
            </button>
            <button
              type="button"
              class="nes-btn is-error"
              @click="equal"
              value="="
            >
              =
            </button>
          </div>
          <p>
            <i class="nes-icon is-small star"></i>Urmatawil<i
              class="nes-icon is-small star"
            ></i>
          </p>
        </div>
      </div>

      <footer>
        <a href="https://twitter.com/Urm_At_Awil" target="_blank"
          ><i class="nes-icon twitter"></i
        ></a>

        <a href="https://codepen.io/urmatawil" target="_blank"
          ><i class="nes-icon coin"></i
        ></a>

        <a href="https://www.linkedin.com/in/urmatawil/" target="_blank"
          ><i class="nes-icon linkedin"></i
        ></a>
      </footer>
    </section>
  </body>
</html>
